.Side-bar
  .Side-bar__user-name 
    .Side-bar__top-items
      .Side-bar__top-items__name masa
      .Side-bar__top-items__icons
        = link_to "#", class: "Side-bar__btn" do
          = icon('fa', 'edit', class: 'icon')
        = link_to "#", class: "Side-bar__btn" do
          = icon('fa', 'cog', class: ' icon')
  .Side-bar__group-list 
    .Side-bar__group
      = link_to "#", class: "group__name" do
        %p.Side-bar__group__name 
          techcapmp
        %p.Side-bar__group__info
          まだメッセージはありません
    .Side-bar__group
      = link_to "#", class: "group__name" do
        %p.Side-bar__group__name 
          techcapmp
        %p.Side-bar__group__info
          まだメッセージはありません
    .Side-bar__group
      = link_to "#", class: "group__name" do
        %p.Side-bar__group__name 
          techcapmp
        %p.Side-bar__group__info
          まだメッセージはありません
    .Side-bar__group
      = link_to "#", class: "group__name" do
        %p.Side-bar__group__name 
          techcapmp
        %p.Side-bar__group__info
          まだメッセージはありません
          